

    #main {
      transition: margin-left 0.3s;
      padding: 2px;
    }

    #main.shifted-left {
      margin-left: 10%; /* Ajusta al ancho del sidebar */
    transition: margin-left 0.4s ease; /* Animación suave */
    }

    /* Dropdowns */
    #versionDropdown, #bookDropdown, #chapterDropdown {
        display: flex;
  flex-direction: column; /* Coloca el label encima del select */
  margin-bottom: 15px; /* Espacio entre dropdowns */
    }

    select {
    padding: 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;

    float: left;
    }

    select:hover {
      background-color: #575757;
    }

    #chapterContent {
      margin-top: 20px;
      padding: 10px;
      background-color: #333;
      color: #ddd228;
      border-radius: 5px;
    }
/* Contenedor principal */
.dropdown-container {
 display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 10px;
    align-items: end;
    justify-items: start;
    justify-content: center;
        margin-top: -12px;
}

/* Ajustar el capítulo a ocupar toda la fila */
#chapterDropdown {
  grid-column: span 2; /* Ocupar dos columnas */
}
