/* responsive movil*/
#tituloCapitulo {
    position: sticky;
    top: 60px; /* Puedes ajustar según altura del encabezado */
    background-color: #e5ddd5;
    padding: 10px 15px;
    z-index: 999;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #aaa;
}

@media (max-width: 912px) {
    #results li {

        width: calc(100% - 20px) !important; /* Restar 20px del ancho total */
        margin: 5px auto; /* Centrar los elementos y ajustar espacio */
        font-size: 14px; /* Reducir tamaño de fuente */
        padding: 8px; /* Ajustar padding para ahorrar espacio */
    }
}
@media (max-width: 991px) {
    #results li {

        width: calc(100% - 20px) !important; /* Restar 20px del ancho total */
        margin: 5px auto; /* Centrar los elementos y ajustar espacio */
        font-size: 14px; /* Reducir tamaño de fuente */
        padding: 8px; /* Ajustar padding para ahorrar espacio */
        margin-left: -40px !important;
    }
}

@media (max-width: 870px) {

#results li{
width: calc(100% - 60px) !important;
        margin-left: 20px !important;
    }
    .titulo-capitulo {
        margin-left: -10px !important;
     }
 }
     @media (max-width: 800px) {

#results li{
width: calc(100% - 60px) !important;
        margin-left: 20px !important;
    }
    .titulo-capitulo {
        margin-left: 20px !important;
     }
 }

  
@media (max-width: 740px) {

#results li{
width: calc(100% - 60px) !important;
        margin-left: 10px !important;
    }
    .titulo-capitulo {
        margin-left: 40px !important;
     }
 }
