#countResults {
  list-style: none;
  padding: 0;
  margin: 0;
}

#countResults ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#countResults li {
  cursor: pointer;
}

#countResults .nested {
  display: none;
  margin-top: 8px;
}

#countResults .nested li {
  padding: 6px 0;
  transition: all 0.2s ease;
  border-left: 2px solid transparent;
  padding-left: 10px;
}

#countResults .nested li:hover {
  border-left: 2px solid #319189;
  background-color: #f9f9f9;
}

#countResults .nested li a {
  text-decoration: none;
  color: #444;
}

#countResults .nested li a:hover {
  color: #319189;
}

#countResults .expandable {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
  padding-left: 35px;
  list-style-type: none;
}

#countResults .expandable:last-child {
  border-bottom: none;
}

#countResults .expandable::before {
  content: "▶";
  display: inline-block;
  position: absolute;
  left: 10px;
  transition: transform 0.2s ease;
}

#countResults .expandable.expanded::before {
  transform: rotate(90deg);
}

#countResults .expandable:hover {
  color: #319189;
  background-color: #f5f5f5;
}