a {
  color: #075e54;
  text-decoration: none;
  transition: padding-left 0.1s ease;
}

a:hover {
  color: #075e54;
  padding-left: 3px;
}

.sidebar-title {
  font-weight: bold;
  padding: 14px;
}

.bottom-nav {
  display: none;
  position: fixed;
  background-color: white;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  z-index: 9999;
}

.bottom-nav i {
  font-size: 20px;
  padding: 10px;
}

.bottom-nav.hidden {
  transform: translateY(-100%);
}

.bottom-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  position: relative;
  transition: color 0.2s ease;
  outline: none;
}

.bottom-nav .nav-item i {
  font-size: 20px;
  margin-bottom: 2px;
  position: relative;
  transition: transform 0.2s ease;
}

.bottom-nav .nav-item:active {
  color: #075e54;
}

.bottom-nav .nav-item:focus {
  outline: none;
}

.bottom-nav .nav-item:hover {
  color: #075e54;
  /* Explicitly prevent padding changes when hovering */
  padding-left: 0;
}

/* Style for active item in bottom navigation */
.bottom-nav .nav-item.active-nav-item {
  color: #075e54;
  position: relative;
}

.bottom-nav .nav-item.active-nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 3px;
  background-color: #075e54;
  border-radius: 3px;
}

.bottom-nav .nav-item.active-nav-item i {
  color: #075e54;
}

@media (min-width: 992px) {

  #sidebarLibros,
  #sidebarBibliaParalela,
  #sidebarComentarios,
  #sidebarAparatoCritico,
  #sidebarResultadosBusqueda {
    position: fixed;
    top: 70px;
    width: 20%;
    height: calc(100% - 70px);
    background-color: white;
    border-top: 3px solid #0c7e70;
    padding: 15px;
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  #sidebarComentarios{
    padding-right: 5px;
  }

  #contenedorComentarios,
  #contenedorAparatoCritico,
  #sidebarResultadosBusqueda {
    overflow-y: auto;
  }

  #sidebarLibros,
  #sidebarBibliaParalela {
    left: 70px;
    transform: translateX(-100%);
  }

  #sidebarComentarios,
  #sidebarAparatoCritico,
  #sidebarResultadosBusqueda {
    right: 0px;
    transform: translateX(100%);
  }

  #sidebarLibros.active,
  #sidebarBibliaParalela.active,
  #sidebarAparatoCritico.active,
  #sidebarComentarios.active,
  #sidebarResultadosBusqueda.active {
    transform: translateX(0);
  }

  #sidebarResultadosBusqueda {
    z-index: 800;
  }

  /* Asegurar que el menú lateral siempre está visible y por encima */
  #leftNav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: #075e54;
    z-index: 1001;
    overflow: hidden;
    transition: width 0.3s;
  }

  #fixedHeaderContainer {
    position: relative;
    box-shadow: none;
  }

  .desktop-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    padding: 12px 0px 12px 0px;
    border-right: 3px solid transparent;
  }

  .desktop-nav-item .nav-link {
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .desktop-nav-item .nav-link i {
    font-size: 1.5rem;
    margin-right: 0;
  }

  #leftNav .desktop-nav-item .nav-link i {
    margin-right: 2px;
  }

  .desktop-nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 3px solid #ffffff;
  }

  .active-nav-item {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .desktop-nav-item:hover .nav-link {
    color: #ffffff;
  }

  #leftNav .navbar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #leftNav .nav-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  #leftNav .nav-link i {
    font-size: 20px;
    margin-right: 15px;
  }
}

@media (max-width: 991px) {

  #sidebarAparatoCritico,
  #sidebarBibliaParalela,
  #sidebarComentarios,
  #sidebarResultadosBusqueda {
    position: fixed;
    bottom: -100%;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 3001;
    transition: bottom 0.3s ease;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #sidebarAparatoCritico.active,
  #sidebarBibliaParalela.active,
  #sidebarComentarios.active,
  #sidebarResultadosBusqueda.active {
    bottom: 60px;
  }

  #results {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
    padding-right: 0px;
  }

  #sidebarAparatoCritico::before,
  #sidebarBibliaParalela::before,
  #sidebarComentarios::before,
  #sidebarResultadosBusqueda::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  #sidebarAparatoCritico::after,
  #sidebarBibliaParalela::after,
  #sidebarComentarios::after,
  #sidebarResultadosBusqueda::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background-color: #ddd;
    border-radius: 10px;
    z-index: 1000;
  }

  #sidebarAparatoCritico,
  #sidebarBibliaParalela,
  #sidebarComentarios,
  #sidebarResultadosBusqueda {
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }

  #sidebarAparatoCritico h5,
  #sidebarBibliaParalela h5,
  #sidebarComentarios h5,
  #sidebarResultadosBusqueda h5 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #075e54;
    border-bottom: 2px solid #075e54;
    padding-bottom: 10px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }

  #sidebarBibliaParalela h5 {
    margin-bottom: 0px;
  }
  #sidebarBibliaParalela {
    padding-bottom: 0px;
  }

  #sidebarAparatoCritico::before,
  #sidebarBibliaParalela::before,
  #sidebarComentarios::before {
    z-index: -1;
  }

  #sidebarBibliaParalela #searchOptionsContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #sidebarComentarios {
    padding-bottom: 0px;
  }

  #sidebarResultadosBusqueda {
    z-index: 888;
  }

  .bottom-nav {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .bottom-nav .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .bottom-nav .nav-item i {
    margin: 0;
    /* Prevent any movement of the icon when clicked */
    transform: none !important;
  }
  
  .bottom-nav .nav-item:active i {
    /* Ensure icon doesn't move when parent is active */
    transform: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  #sidebarLibros,
  #sidebarBibliaParalela {
    left: 55px;
    transform: translateX(-100%);
    top: 55px;
  }

  #sidebarComentarios,
  #sidebarAparatoCritico,
  #sidebarResultadosBusqueda {
    right: 0;
    transform: translateX(100%);
    top: 55px;
  }

  #sidebarLibros,
  #sidebarBibliaParalela,
  #sidebarComentarios,
  #sidebarAparatoCritico,
  #sidebarResultadosBusqueda {
    height: calc(100% - 55px);
  }

  .desktop-nav-item {
    height: 55px;
  }
}

/* Asegurar que el header h5 permanezca fijo */
#sidebarComentarios h5 {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

#sidebarAparatoCritico,
#sidebarComentarios,
#sidebarResultadosBusqueda {
  display: flex;
  flex-direction: column;
}

#contenedorAparatoCritico,
#countResults,
#contenedorComentarios {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

@media (max-width: 1440px) {
  #leftNav {
    width: 55px;
  }
}

@media (min-width: 1440px) {
  #sidebarLibros,
  #sidebarBibliaParalela,
  #sidebarComentarios,
  #sidebarAparatoCritico,
  #sidebarResultadosBusqueda {
    padding: 20px;
  }
}