body {
  background-color: #faf8f7 !important;
  padding: 10px;
  font-size: 14px;
}

#mySidebar {
  width: 0;
  position: fixed;
  z-index: 10;
  height: 100%;
  top: 115px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.4s;
  transition: width 0.4s ease, transform 0.4s ease;
  overflow-x: hidden;
  transform: translateX(100%);
}

#mySidebar.open {
  transform: translateX(0);
  width: 23%;
  margin-top: 25px;
  top: 1px;
}

#main {
  transition: margin-right 0.3s;
  padding: 2px;
  margin-top: -20px;
}

#main.shifted {
  margin-right: 10%;
  transition: margin-right 0.4s ease-in-out !important;
}

.titulo-capitulo {
  font-size: 23px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-left: 280px;
  margin-bottom: -10px;
}

li {
  list-style: none !important;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

#sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background: #f8f9fa;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sidemenu .navbar-brand img {
  width: 45px;
  margin-bottom: 20px;
}

#sidemenu .nav-item {
  width: 100%;
  text-align: center;
}

#sidemenu .nav-link {
  padding: 12px;
  font-size: 22px;
  color: black;
  display: block;
  transition: all 0.3s ease;
  border-radius: 10px;
  text-align: center;
}

#sidemenu .nav-link:hover {
  background: #007bff;
  color: white;
}

#sidemenu .home-icon i {
  font-size: 22px;
  color: black;
  transition: color 0.3s ease;
}

#sidemenu .nav-link:hover,
#sidemenu .home-icon:hover i {
  color: white;
  background: #000;
}

#searchContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  width: 80%;
  max-width: 400px;
}

#searchInput {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#prevPage,
#nextPage {
  z-index: 1009;
}

.search-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  width: 80%;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

#main {
  margin-left: 80px;
  transition: margin-left 0.3s ease;
}

.toggle-menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
  display: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .toggle-menu-btn {
    display: block;
  }

  #sidemenu {
    left: -70px;
  }

  #main {
    margin-left: 0;
  }
}

#contenidoSidebar {
  height: 80vh;
  overflow-y: auto;
  padding: 1rem;
}

.dropdown-menu {
  margin-top: 10px;
}

#sidebar2 {
  width: 0;
  position: fixed;
  z-index: 200;
  top: 115px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.4s ease;
  padding-top: 20px;
  color: white;
  height: 200vh;
}

#chapterContentSidebar::-webkit-scrollbar {
  width: 8px;
}

#chapterContentSidebar::-webkit-scrollbar-track {
  background: white !important;
}

#chapterContentSidebar::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

#chapterContentSidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#comentarios {
  position: fixed;
  right: -6px;
  top: 45px;
  width: 26%;
  height: 200vh;
  margin-top: 25px;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  padding: 15px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  direction: rtl;
}

#comentarios * {
  direction: ltr;
}

#btnParalelo {
  height: 33px;
  padding: 2px 8px;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -2px;
  margin-left: -190px;
  display: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btnParalelo:hover {
  transform: scale(1.2);
}

#btnMaterial {
  height: 32px;
  padding: 2px 8px;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -2px;
  margin-left: -20px;
  display: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#btnMaterial:hover {
  transform: scale(1.2);
}

.dropdown-toggle {
  white-space: wrap;
}

#dropdownMenu {
  position: fixed;
  left: -280px;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #ccc;
  z-index: 10;
  transition: left 0.3s ease;
  padding: 10px;
}

#dropdownMenu.open {
  left: 57px !important;
}

#dropdownMenu ul li a {
  color: #000;
  text-decoration: none;
}

#dropdownMenu ul li a:hover {
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 1068px) {
  header.section-header {
    background-color: white !important;
  }

  nav.navbar {
    background-color: white !important;
    color: #fff;
  }

  nav.navbar a.nav-link {
    color: #fff !important;
  }

  nav.navbar a.nav-link:hover {
    color: #f0f0f0 !important;
  }
}

.tooltip .tooltip-inner {
  background-color: black !important;
  color: white !important;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 5px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: black !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: black !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: black !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: black !important;
}

.img-tooltip-container {
  display: inline-block;
  margin-left: 700px;
  padding: 0;
}

.versiculo-activo {
  background-color: yellow;
  font-weight: bold;
}

h5 {
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding: 10px;
  border-bottom: 7px solid #333;
}

#countResults {
  margin-top: -23px;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
  list-style: none;
}

#results li {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: -13px;
  border-radius: 4px;
  background-color: #fff;
  width: calc(100% - 600px);
  margin-left: 260px;
  margin-top: 20px;
}

#countResults ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

#countResults li {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.3s;
}

#countResults li:last-child {
  border-bottom: none;
}

#countResults li:hover {
  background: #e2e6ea;
}

#countResults .nested {
  display: none;
  padding-left: 15px;
}

#countResults .expandable {
  font-weight: bold;
  color: #333;
}

#countResults .expandable:hover {
  color: #007bff;
}

.sidebar2-open #main {
  margin-left: 10px;
  transition: margin-left 0.4s ease-in-out;
}

#subButtonsCritico button {
  background-color: #f0f0f0;
  color: #000;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 155px;
  height: 24px;
  text-align: center;
}

#subButtonsCritico button:first-child {
  margin-left: 20px;
}

#subButtonsCritico button:last-child {
  margin-right: 30px;
}

#subButtonsCritico button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

#subButtonsCritico button.activo {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.modal-img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: auto;
}

.dropdown-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  align-items: center;
}

#chapterDropdown {
  grid-column: 1;
  grid-row: 2;
}

#syncButtonContainer {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

#syncVersionButton {
  width: 100%;
  height: 32px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
}

#contenedor-botones {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
}

.boton-accion {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.boton-accion:hover {
  transform: scale(1.2);
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 150px;
  cursor: pointer;
  left: 100px;
}

.select-selected {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 150px;
}

.select-selected:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px black;
}

.con-variantes {
  position: relative;
  padding-right: 25px;
}

.versiculo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  position: relative;
}

.texto-verso {
  flex: 1;
  margin-right: 10px;
}

.btn-na28 {
  font-size: 12px;
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-na28:hover {
  background: black;
}

#select-selected2 {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 50px;
}

#select-selected2:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px black;
}

.select-items {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.select-items div:hover {
  background-color: black;
  color: white;
}

.select-selected.active+.select-items {
  display: block;
}

.toggle-btn {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.modal-img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: auto;
}

.dropdown-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columnas */
  grid-template-rows: repeat(2, auto);
  /* 2 filas */
  gap: 10px;
  /* Espaciado uniforme */
  align-items: center;
  /* Alinea verticalmente */
}

/* Mantener el dropdown de capítulo en la segunda fila, primera columna */
#chapterDropdown {
  grid-column: 1;
  /* Primera columna */
  grid-row: 2;
  /* Segunda fila */
}

/* Mover el botón al espacio vacío (segunda fila, segunda columna) */
#syncButtonContainer {
  grid-column: 2;
  /* Segunda columna */
  grid-row: 2;
  /* Segunda fila */
  text-align: center;
  /* Centrar el botón en su celda */
}

/* Ajustar tamaño del botón para que coincida con los dropdowns */
#syncVersionButton {
  width: 100%;
  /* Ocupar toda la celda */
  height: 32px;
  /* Puedes hacer el botón más pequeño */
  font-size: 14px;
  /* Ajustar tamaño del texto */
  display: flex;
  /* Habilitar flexbox */
  align-items: center;
  /* Centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
  text-align: center;
  /* Asegurar alineación del texto */
  padding: 5px 10px;
  /* Espaciado interno */
}

#contenedor-botones {
  position: fixed;
  /* Mantiene los botones fijos en la pantalla */
  bottom: 20px;
  /* Ajusta la posición desde abajo */
  left: 50%;
  /* Centra horizontalmente */
  transform: translateX(-50%);
  /* Centra realmente en el eje X */
  display: flex;
  /* Usa flexbox para alinear los botones */
  gap: 15px;
  /* Espaciado entre los botones */
  z-index: 1000;
  /* Asegura que esté sobre otros elementos */

  padding: 10px;
  border-radius: 10px;
}

/* Ajustes para los botones dentro del contenedor */
.boton-accion {
  width: 40px;
  /* Ajusta el tamaño de los iconos */
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.boton-accion:hover {
  transform: scale(1.2);
}

/* Estilos generales */
.custom-select {
  position: relative;
  display: inline-block;
  width: 150px;
  margin-top: 100px;
  cursor: pointer;
}

.select-selected {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 150px;
}

.select-selected:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px black;
}


.con-variantes {
  position: relative;
  padding-right: 25px;
  /* Espacio para el botón */
}

.versiculo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  /* Espacio para evitar que el botón 📖 cubra el texto */
  position: relative;
}

.texto-verso {
  flex: 1;
  /* Hace que el texto ocupe todo el espacio disponible */
  margin-right: 10px;
  /* Deja espacio al botón 📖 */
}

.btn-na28 {
  font-size: 12px;
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-na28:hover {
  background: black;
}

#select-selected2 {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 50px;
}

#select-selected2:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px black;
}

/* Contenedor de opciones */
.select-items {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Efecto al pasar el mouse */
.select-items div:hover {
  background-color: black;
  color: white;
}

/* Mostrar opciones cuando está activo */
.select-selected.active+.select-items {
  display: block;
}

/* Estilo para ocultar el contenedor */
#opcionesContainer {
  position: absolute;
  /* 👈 Lo hace flotante */
  display: none;
  /* Inicialmente oculto */
}

/* Botón para mostrar/ocultar */
.toggle-btn {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
  color: #4CAF50;
}

/* no lo estoy usando pero es para titulos, color y centrado */








/* Estilos específicos para el menú desplegable */
.dropdown-label {
  margin-bottom: 2px;
  /* Espacio entre el label y el select */
  font-size: 12px;
  /* Ajusta el tamaño del texto si es necesario */
}

.form-label {
  margin-bottom: 2px;
  /* Espacio entre el label y el select */
  font-size: 12px;
  /* Ajusta el tamaño del texto si es necesario */
}

.dropdown-content {
  display: none;
  /* Inicialmente oculto */
  position: absolute;
  width: 100%;
  /* Asegura que no se desborden en pantallas pequeñas */
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #800000;
  background-color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: #333333;
}

#welcomeMessage {
  text-align: center;
  margin: 1px -10px;
  color: #4CAF50;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  margin-left: -10px;
}

#menuSidebar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: -13px;
}

#menuSidebar button {
  padding: 3px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* Muestra que es clickeable */
  border-radius: 4px;
  max-width: 100%;
}

#menuSidebar button:hover {
  background-color: #575757;
  transform: scale(1.05);
  /* Amplía la imagen ligeramente al pasar el mouse */
}

.seccionSidebar {
  display: none;
  /* Oculta todas las secciones por defecto */
  color: white;
  margin: -5px;
  background-color: #222;
  border-radius: 4px;
}



.container-fluid {
  padding: 0;
  /* Elimina todo el relleno */
  margin-top: -2px;
  /* Usa márgenes negativos si es necesario */
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fondo oscuro detrás del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal-content {
  position: relative;
  max-width: 90vw;
  /* Máximo ancho del 90% de la pantalla */
  max-height: 90vh;
  /* Máximo alto del 90% de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 10px;
}

/* Imagen dentro del modal */
.modal-img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: auto;
}

/* Botón de cierre */
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  background: black;
  padding: 5px 10px;
  border-radius: 50%;
}

.modal-close:hover {
  background: red;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Botones de capítulo */
#chapterButtons,
#bookButtons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
}

.chapter-button,
.book-button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
  max-width: 100%;
}

.chapter-button:hover,
.book-button:hover {
  background-color: #0056b3;
}

/* Contenedor flexible para los selectores */
#myDIV {
  position: absolute;
  margin-top: 100px;
  padding: 10px;
  right: 0px;
  display: none;
  /* Oculto por defecto */
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.nested {
  display: none;
  padding-left: 100px;
}

.expandable {
  cursor: pointer;
}

.full-chapter-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: underline;
  color: #4CAF50;
  cursor: pointer;
}

#prevPage {
  font-display: left;
}

#comentarios {
  position: fixed;
  right: -6px;
  top: 80px;
  width: 26%;
  height: 600px;
  margin-top: 25px;
  background-color: #282828;
  color: white;
  border: 1px solid #ccc;
  padding: 15px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  /* Transición suave */
}

/* Ajustar el contenedor de comentarios */
#comentarios {
  width: 100%;
  /* El contenedor ocupa el 100% del ancho */
  top: 80px;
  /* Mantiene la posición vertical */
  right: 0;
  margin-top: 20px;
  /* Espaciado superior para separar del contenido */
  padding: 15px;
  /* Asegura que los comentarios se vean bien */
}
